
    <div>

        Hello PAT,

       Sorry your appointment at SLOT has been cancelled by the clinic .

        Please make a call to clinic for further inforamation 

        Be Safe .


    </div>